body {
    background-color: #555;
    margin: 20px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.75;
}

/* #centered {
    height: 5px;
    width: 5px;
    border: solid red 2px;
    position: fixed;
    top: 50%;
    left: 50%;
} */

section {
    background-color: #fff;
}

img {
    max-width: 100%;
}

header, main, footer {
    max-width: 800px;
    margin: auto;
}

header {
    /* background-image: url(img/masthead.jpg);
    background-position: center;
    background-size: cover; */
    background: url(img/masthead.jpg) center / cover;
    color: #fff;
    text-align: center;
    padding:50px;
}

footer {
    color: #ccc;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Alfa Slab One", serif;
    font-weight: 300;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 60px;
}

h3 {
    font-size: 24px;
}

h1 + p {
    font-weight: 700;
    font-style: italic;
}

h3 + p {
    font-weight: 700;
    font-style: italic;
    opacity: 0.5;
}

nav {
    margin-bottom: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 20px;
}

nav a:hover,
nav a:focus {
    color: #97d0f2;
}

header, section {
    border: 4px solid #2fb3fe;
    margin-bottom: 30px;
}

h3 {
    background: #2fb3fe;
    color: white;
    padding: 15px;
    margin-top: 0;
}

img {
    vertical-align: bottom;
}

/* "*" stands for EVERYTHING */
* {
    /* border box means the element + padding + border will be an exact size */
    box-sizing: border-box;
}

section p {
    margin-left: 20px;
    margin-right: 20px;
}

/* <a> inside of <section> */
section a {
    color: #2fb3fe;
    text-decoration: none;
}

section a img {
    vertical-align: baseline;
    margin-left: 0.5em;
    /* em will scale with your text size */
    height: 1em;
}

nav {
    /* works and behaves as expected */
    position: static;
    /* we can position the element relative to where it would sit && it still affects layout */
    position: relative;
    /* position in an absolute spot on the screen && no layout */
    position: absolute;
    /* position in a fixed point on the screen EVEN IF WE SCROLL */
    position: fixed;
    /* position is static until it's 0px from the top of the screen at which point it scrolls... IT AFFECTS A LAYOUT */
    position: sticky;

    top: 0;
    background: #000a;
    z-index: 1;
    backdrop-filter: blur(5px) saturate(0%);
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main {
    margin-left: 1em;
    margin-right: 1em;
}

html {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

nav {
    position: static;
}

@media (min-width: 576px) {
    nav {
        position: sticky;
    }
}